body {
    font-family: monospace;
}

header {
    align-items: left; 
    margin-right: 0;
    box-shadow: 0 0 30px 0 black;
    padding: 15px;
}

header * {
    display: inline;
}

li {
    margin: 100px;  
}